<!DOCTYPE html>
 <html lang="en">
 <head>
   <meta charset="UTF-8">
   <title>graphs</title>

 </head>
 <body>
  <div class="title">
    <h1>Gráficos criados com D3.js</h1>
    <p>
      Diversos gráficos criados para o aprendizado da biblioteca D3.
    </p>
  </div>
  <div class="example"></div>

<!-- Script include in the page.
 d3 methods: scaleLinear (domain, range) / max / select (append, attr) / selectAll (data, enter (append, attr))
 append elements: svg in body / g in body (to move everything) / rect in svg /
 axis: append g to svg (canvas), translate and call(d3.axisBottom(widthScale))
-->
  <script>

    var dataArray = [10, 20, 40, 60];
    var width = 500;
    var height = 300;


    var widthScale = d3.scaleLinear()
                       .domain([0, + d3.max(dataArray)])
                       .range([0, width]);

    var color = d3.scaleLinear()
                  .domain([0, d3.max(dataArray)])
                  .range(["blue", "yellow"])


    var canvas = d3.select(".example")
                  .append("svg")
                  .attr("width", width + 20)
                  .attr("height", height)
                    .append("g")
                    .attr("transform", "translate(10, 10)")

    canvas.append("g")
          .attr("transform", "translate(0, 220)")
          .call(d3.axisBottom(widthScale).ticks(4));﻿

    var bars = canvas.selectAll("rect")
                .data(dataArray)
                .enter()
                    .append("rect")
                    .attr("width", function(d) { return widthScale(d); })
                    .attr("height", 50)
                    .attr("fill", function(d) { return color(d); })
                    .attr("y", function(d, i) { return i * 55; } );


  </script>
 </body>
 </html>
